# STE admsrv
#
type admsrv, domain;
type admsrv_exec, exec_type, file_type;
init_daemon_domain(admsrv)
allow admsrv self:capability sys_nice;
allow admsrv self:capability { chown dac_override fowner net_admin };
allow admsrv sysfs_wake_lock: file { open read write };
allow admsrv system_file:file { execute_no_trans };
allow admsrv admsrv:process { execmem };
allow admsrv shell_exec:file { execute open read execute_no_trans };
allow admsrv device:file { open read write };
allow admsrv audio_device:dir { search };
allow admsrv audio_device:chr_file { open getattr read write ioctl };
allow admsrv unlabeled:file { setattr };
allow admsrv radio_device:chr_file { open getattr read write ioctl };
allow admsrv admsrv:netlink_socket { create bind setopt read write };
allow admsrv tmpfs:dir { open read write add_name remove_name };
allow admsrv admsrv_tmpfs:file { open read write create unlink };
allow admsrv cm_device:chr_file rw_file_perms;
allow admsrv stm_device:chr_file rw_file_perms;
allow admsrv sysfs:file write;
allow admsrv shell_data_file:dir w_dir_perms;
allow admsrv shell_data_file:file create_file_perms;
allow admsrv shell_data_file:sock_file create_file_perms;
file_type_auto_trans(admsrv, system_data_file, adm_data_file);
