# STE, AT daemon
type atd, domain;
type atd_exec, exec_type, file_type;
init_daemon_domain(atd)

allow atd admsrv:unix_stream_socket connectto;
allow atd cn_server:unix_stream_socket connectto;
allow atd radio_data_file:dir r_dir_perms;
allow atd at_device:chr_file rw_file_perms;
allow atd self:capability { setuid dac_override };
allow atd self:process execmem;
file_type_auto_trans(atd, socket_device, at_socket);
allow atd psccd:unix_dgram_socket sendto;
allow atd cn_socket:sock_file write;
allow atd psccd:unix_dgram_socket sendto;
allow atd stm_device:chr_file rw_file_perms;
