# STE: Modem Security daemon
type copsd, domain;
type copsd_exec, exec_type, file_type;
init_daemon_domain(copsd)

allow copsd self:capability { chown dac_override fowner fsetid net_admin setuid setgid };
allow copsd self:netlink_socket create_socket_perms;
allow copsd self:process execmem;
allow copsd sysfs:file w_file_perms;
allow copsd tad_socket:sock_file w_file_perms;
allow copsd tad:unix_stream_socket connectto;
allow copsd sysfs_wake_lock:file w_file_perms;
allow copsd radio_device:chr_file rw_file_perms;
allow copsd tee_device:chr_file rw_file_perms;
file_type_auto_trans(copsd, socket_device, cops_socket);
