# camera socket
type camera_socket, file_type;
# Modemfs
type modemfs, fs_type;
# Allow files to be created in their appropriate filesystems.
allow modemfs rootfs:filesystem associate;
