# camera socket
type camera_socket, file_type;
# Modemfs
type modem_data_file, file_type, data_file_type;
type modem_file, file_type;
type modem_socket, file_type;
type tad_socket, file_type;
type tad_data_file, file_type, data_file_type;
type pscc_data_file, file_type, data_file_type;
allow modem_file self:filesystem associate;
