# STE, PS connection control
type psccd, domain;
type psccd_exec, exec_type, file_type;
init_daemon_domain(psccd)

allow psccd radio_data_file:dir r_dir_perms;
allow psccd self:capability { net_admin sys_admin dac_override };
allow psccd self:process execmem;
allow psccd self:socket create_socket_perms;
file_type_auto_trans(psccd, socket_device, pscc_socket);
allow psccd radio_data_file:file r_file_perms;
allow psccd shell_data_file:sock_file create_file_perms;
allow psccd shell_data_file:file create_file_perms;
allow psccd shell_data_file:dir w_dir_perms;
allow psccd system_data_file:dir r_dir_perms;
allow psccd shell_data_file:sock_file create_file_perms;
allow psccd atd:unix_dgram_socket sendto;
