allow sysinit pscc_data_file:dir w_dir_perms;
allow sysinit pscc_data_file:file create_file_perms;
allow sysinit modem_data_file:file create_file_perms;
allow sysinit self:capability { dac_override fowner chown fsetid };
allow sysinit system_data_file:dir w_dir_perms;
allow sysinit wifi_data_file:file create_file_perms;
